<h2 mat-dialog-title *ngIf="!edit">Nuevo Empleado</h2>
<h2 mat-dialog-title *ngIf="edit">Editar Empleado</h2>
<mat-dialog-content>
    <mat-form-field *ngIf="edit">
        <input matInput type="text" placeholder="Id" [(ngModel)]="employee.id" [disabled]="edit" />
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Surname" [(ngModel)]="employee.surname" />
        <mat-error>Field required</mat-error>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="employee.active" *ngIf="edit">Active</mat-checkbox>
    <mat-form-field>
        <input matInput type="text" placeholder="Area" [(ngModel)]="employee.area">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button [disabled]="!employee.surname" *ngIf="edit" (click)="save()">Save</button>
    <button mat-raised-button [disabled]="!employee.surname" *ngIf="!edit" (click)="create()">Create</button>
</mat-dialog-actions>